<div class="container container-border">
  <div class="title-nav">
    <div class="displaying-month-year">{{months[Month]}},{{Year}}</div>
  
    <button class="button-round bg-white" (click)="previous()">&lt;</button>
    <button class="button-round bg-white" (click)="next()">></button>
    <hr>
  </div>
  <div class="flex-container" id="calendar">
    <div *ngFor="let day of days" [ngClass]="'days'">{{ day }}</div>
    <div *ngFor="let date of calendar" [ngClass]="{'days':true, 'today': isToday(date)}">{{ date }}</div>
  </div>
  <div class="input">
    <select [(ngModel)]="Month" (change)="displayCalendar()">
      <option *ngFor="let month of months;let i = index" [value]="i">{{ month }}</option>
    </select>
    <input type="number" min="1" max="9999" [(ngModel)]="Year" class="bg-white pad-five" (change)="displayCalendar()">
  </div>  
</div>